body {
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-list {
  max-width: 50em;
  padding: 7em 3em;
  margin: 0 auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 5px 0;
  border-radius: 7px;
}

.item .completed {
  text-decoration: line-through;
  color: #888;
}

.item .delete-button {
  cursor: pointer;
  font-size: 1.15em;
  font-weight: bolder;
  width: 2em;
  height: 2em;
  text-align: center;
}

.item span {
  font-size: 1.3em;
  margin-right: 1em;
}

.item .delete-button:hover {
  background-color: #c00;
}

#notification-toast {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  min-width: 25em;
  border-radius: 5px;
  z-index: 1000;
}

#floating-add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#floating-add-button:hover {
  background-color: #0069d9;
}

#floating-add-button > span {
  font-weight: bold;
  font-size: 2em;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.menu-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 3em;
  padding-top: 5em;
  transition: left 0.3s;
  z-index: 1000;
}

.burger-icon {
  position: fixed;
  padding-left: 1em;
  padding-top: 0.5em;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  z-index: 1001;
}

.menu-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.menu-link:hover {
  text-decoration: none;
}

.menu-link.back {
  margin-top: 2em;
  color: #0069d9;
}

.menu-link.back:hover {
  color: #fff;
}

#list-title {
  text-align: center;
  margin: 0;
  width: 100%;
  padding: 0.3em;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  width: 80%;
  height: 22em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#add-item-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#add-item-form input {
  padding: 0.5em;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-item-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 2.5em;
}

#add-item-form input[type="submit"]:hover {
  background-color: #0069d9;
}

.item input[type="checkbox"] {
  margin-right: 1em;
  cursor: pointer;
  transform: scale(2);
}
